body {
    background: #B74934;
}

.colorFont {
    background: white;
}

.del-margin {
   margin: 0;
}

.set-padding {
    padding: 30px;
}

.set-center {
    text-align: center;
}

.padding-top-bottom {
    padding-bottom: 15px;
    padding-top: 15px;
}

.margin-top-10 {
    margin-top: 10px;
}

.non-left-padding {
    padding-left: 0;
}

.left-padding {
    padding-left: 15px;
}

.form-group {
    font-weight: normal;
}

.space {
    margin-right: 15px;
}

.width-tegs {
    width: 94%;
}

.width-main-picture {
    display: inline-block;
}

.heightImg {
    height: 250px;
}

.pading-exh {
    padding-left: 0px;
    padding-right: 30px;
}

.center {
    width: 400px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 30%;
    margin: -100px 0 0 -150px;
}

.globalImg {
    min-height: 200px;
    background: white;
}

.globalImg .glyphicon {
    font-size: 21px;
}

.globalImg button {
    border-color: white;
    border-radius: inherit;
}

#globalImgId {
    width:0;
    height:0;
    overflow:hidden;
}

#category {
    overflow-x: auto;
    white-space: nowrap;
}

#category input {
    width: 100px;
}

#category li>span {
    margin-right: 10px;
}

#category>span {
    margin-right: 10px;
}

#_0 {
    font-size: 19pt;
}

#category ul {
    list-style-type: none;
}

#category li>span:hover {
    font-weight: 600;
    cursor: pointer;
}

legend:first-child {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;

    color: #333;
}

.photo > img {
    width: 100%;
}

label {
    margin-right: 5px;
}

.list > .breadcrumb {
    margin: 0;
}

.globalImg {
    padding: 0;
}

.globalImg>* {
    padding: 0;
}

hr {
    background-color: #B74934;
    height: 2px;
    margin-bottom: 0;
}

.header-fixed {
    margin-bottom: 0;
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 200px;
}

.header-fixed > tbody > tr > td,
.header-fixed > tbody > tr > th,
.header-fixed > thead > tr > th {
    float: left;
}

.header-fixed > #bodyTable > tr:hover {
    background: #A8A8A1;
    cursor: pointer;
}

.preview {
    padding: 0;
}

.preview > .title {
    padding: 8px;
    font-weight: bolder;
}

.photo {
    background: #A8A8A1;
    min-height: 200px;
}

#alertDanger, #alertSuccess {
     margin-bottom: 0;
 }

.ground {
    background: #A8A8A1 !important;
}

.photo {
    height: 200px;
    overflow-y: auto;
}

#url {
    margin: 2px;
    padding-left: 2px;
    background: white;
    word-wrap: break-word;
}

.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    word-wrap: break-word;
}
#typeGlImg:hover, #nameGlImg:hover, #sizeGlImg:hover, #dateGlImg:hover {
    font-size: 120%;
    cursor: pointer;
}

/*------------Modal Window------------*/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #6FA84D;
    color: white;
}

.modal-header > h4, .modal-body > p {
    word-wrap: break-word;
}

.modal-body > .form-group {
    margin: 0;
}

.modal-body > input {
    width: 100%;
}

.modal-body > button {
    float: right;
    margin: 10px 0;
}

.modal-body > .left {
    float: left;
}

.modal-body > .space {
    margin-left: 10px;
}
.modal-body {
    overflow: hidden;
}

.modal-body > dir {
    padding: 0;
    clear: both;
    overflow: auto;
    margin: 0 auto;
}

.modal-body .img-center {
    padding: 0;
    text-align: center;
}

.modal-body img {
    margin: 10px;
}

.hidden {
    width:0;
    height:0;
    overflow:hidden;
}

.modal-body .error {
    color: #ff5a5d;
}

.modal-body textarea {
    width: 100%;
}

/*------------Local Images------------*/

#localImg .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
#localImg > .wrap img {
    margin-top: 0;
}
.scrollWrap > .wrap {
    padding-top: 10px;
    display: flex;
}
.scrollWrap > .wrap > * {
    margin-right: 10px;
}
.scrollWrap {
    max-height: 200px;
    overflow-y: auto;
}

.space-inp > * > * {
    margin: 5px 10px 5px 0;
}

/*------------Updata description image------------*/
.imgages-des {
    float: left;
    border: 1px solid #333;
    padding: 7px;
    margin: 10px 0 5px 5px;
    background: #f0f0f0;
}

.imgages-des figcaption {
    margin: 0 auto 5px;
}

/*------------Images server------------*/
.wrap-images-server {
    display: flex;
}

.wrap-images-server img{
    height: 100px;
}

.wrap-images-server .select-destroy {
    opacity: 0.6;
}

.wrap-images-server textarea {
    margin: 9px 0 0 5px;
    width: 100% !important;
    max-height: 173px;
    min-width: 200px;
}

.wrap-images-server label {
    margin-top: 5px;
    margin-left: 20px;
    text-align: right;
}

/*------------Docs server------------*/
.wrap-docs-server {
    display: flex;
}

.wrap-docs-server .destroy p {
    text-decoration: line-through;
}

.wrap-docs-server textarea {
    margin: 9px 0 0 5px;
    width: 100% !important;
    min-height: 80px;
    height: 100%;
    min-width: 200px;
}

.wrap-docs-server p {
    margin: 10px;
}

.wrap-docs-server label {
    margin-top: 5px;
    margin-left: 20px;
    text-align: right;
}

/*------------Message------------*/
.message > p {
    word-wrap: break-word;
}

.message input {
    height: 10px;
}

/*------------List Exhibits------------*/
.list-exhibits .fig {
    text-align: left;
}

.list-exhibits .left-img {
    float:left;
    margin: 7px 7px 7px 0;
}

.list-exhibits, .list-exhibits div {
    clear: both;
}

.list-exhibits a:hover {
    cursor: pointer;
}

.delete-cat-tag a {
    text-decoration: none;
}

.delete-cat-tag span {
    color: #ff5a5d;
}

/*------------Delete Exhibit------------*/
.delete-exhibit {
    float: right;
}

.delete-exhibit-wrap {
    overflow: hidden;
    width: 100%;
}

/*------------Delete Comment------------*/
.delete-comment {
    float: left;
}
.comment {
    clear: both;
    overflow: hidden;
}
.comment textarea {
    margin: 10px 0 10px 0;
}

.comment button{
    float: left;
}

.center-btn {
    text-align: center;
}

.profile {
    overflow: hidden;
    clear: both;
}

.profile .form-group{
    margin-right: 15px;
}

.profile .margin-top {
    margin-top: 10px;
}

.bold {
    height: 5px;
}

/*------------Drag And Drop------------*/

#category span.hover,
#category span.hover:hover {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.category .avatar {
    padding: 1px;
    border: 1px dotted black;
    background: white;
    cursor: pointer;
    opacity: 0.6;
}

.exh-cat {
    display: flex;
}

#nameListCateg {
    width: 100%;
}

#category {
    height: 88vh;
}

#category abbr {
    border-bottom: none;
}