extends ../layout/defoultadmin
block main

block content
    .raw
        .container-fluid.col-xs-3.non-left-padding
            .left-padding.colorFont.padding-top-bottom
                include ../includes/category
        .container-fluid.col-xs-9.colorFont.padding-top-bottom
            .block
                - if (!isNew)
                    .delete-exhibit-wrap
                        .delete-exhibit
                            form#delExhibitForm(role='form', action='/admin/exhibit' + '/' + exhibit._id + '?_method=DELETE', method="post")
                                button.btn.btn-danger#delExhibit(type='submit') Видалити експонат
                form(role='form', action='/admin/exhibit' + (!isNew ? '/' + exhibit._id + '?_method=PUT' : ''), method="post", enctype="multipart/form-data")
                    .form-group
                        label(for='name') Назва експоната:
                        input.form-control(type='text', name='name', placeholder="Назва", required=true, value=exhibit.title)
                        .checkbox
                            label
                                input(type='checkbox', name="hidden", checked=exhibit.hidden)
                                |  Сховати
                    .form-group
                        label(for='mainPicture') Головне зображення:
                        input(type='file', name='mainPicture', required=isNew, accept="image/jpg, image/jpeg, image/png")
                    .form-group.scrollWrap
                        - if (!isNew)
                            - for (var i = 0, l = transformSize.length; i < l; i++)
                                figure.imgages-des
                                    p
                                        a(href=(exhibit.img.relativepath + '_' + transformSize[i].pre + '.jpg'), target="_blank")
                                            img(src=(exhibit.img.relativepath + '_' + transformSize[i].pre + '.jpg'), height=100)
                                    figcaption Префікс #{transformSize[i].pre}
                                    | Розмір #{transformSize[i].size}
                    .form-group
                        p
                            b 3d Модель:
                        - if (exhibit.model3d.bin || exhibit.model3d.json)
                            label
                                input(type='checkbox', name="model3dDelete", checked=false)
                                |  Видалити
                            p
                                a(href=exhibit.model3d.bin, target="_blank")= exhibit.model3d.bin
                            p
                                a(href=exhibit.model3d.json, target="_blank")= exhibit.model3d.json
                        .form-inline
                            .form-group
                                label(for='model3dBin') .bin:
                                input(type='file', name='model3dBin', accept="application/octet-stream")
                            .form-group
                                label(for='model3dJson') .json:
                                input(type='file', name='model3dJson', accept="application/json")
                    .form-inline
                        p
                            b Альтернатива 3d моделі:
                        - if (exhibit.altModel3d.relativepath)
                            label
                                input(type='checkbox', name="altModel3dDelete", checked=false, accept="image/jpg, image/jpeg, image/png")
                                |  Видалити
                            div
                                a(href=exhibit.altModel3d.relativepath, target="_blank")
                                    img(src=(exhibit.altModel3d.relativepath), height=150)
                        .form-group
                            input(type='file', name='altModel3d')
                        .form-group
                            label(for='countFrame') Кількість кадрів:
                            input.form-control(type='number', name='countFrame', value=exhibit.altModel3d.count)

                    .form-group
                        .form-inline
                            .form-group
                                label(for='inventoryNumber') Інвентарний номер:
                                input.form-control.space(type='text', name="inventoryNumber", value=exhibit.inventoryNumber)
                            .form-group
                                label(for='museumNumber') Музейний номер:
                                input.form-control(type='text', name="museumNumber", value=exhibit.museumNumber)
                    .form-group
                        .form-inline
                            .form-group
                                label(for='dateStarted') Початок використання:
                                input.form-control.space(type='number', min='0', name="dateStarted", value=exhibit.dateStarted)
                            .form-group
                                label(for='dateFinish') Завершення використання:
                                input.form-control(type='number', name="dateFinish", min='0', value=exhibit.dateFinish)
                    .form-group
                        label Категорії:
                        .form-inline.exh-cat
                            input.form-control#nameListCateg.disabled(type='text', placeholder="Категорії необхідно обирати зліва", required=true, value=categoryName)
                            button.btn.btn-danger#clearCat
                                span.glyphicon.glyphicon-remove-sign
                        input.form-control#listCateg.hidden(type='text', name="arrayCats", value=categoryId)
                    .form-group
                        label(for='tags') Теги:
                        input.form-control(type='text', name="tags", placeholder="Теги повинні бути розділенні комами", value=exhibit.tags)
                    .form-group#idCh
                        fieldset
                            legend
                                b Характеристики
                                .scrollWrap.space-inp
                                    - var i = 0
                                        - if (!isNew)
                                            - for (var l = exhibit.characteristics.length; i < l; i++)
                                                .form-inline
                                                    input.form-control(type='text', name='characteristics['+i+'][name]', value=exhibit.characteristics[i].name)
                                                    input.form-control(type='text', name='characteristics['+i+'][value]', value=exhibit.characteristics[i].value)
                                                    button#deleteCh.btn.btn-danger
                                                        span.glyphicon.glyphicon-remove-sign
                                        .form-inline
                                            input.form-control#chName(type='text', data-ch=i, placeholder="Назва")
                                            input.form-control#chValue(type='text', data-ch=i, placeholder="Значення")
                                            button.btn.btn-danger.hidden#deleteCh
                                                spang.glyphicon.glyphicon-remove-sign
                    .form-group#idMedia
                        legend
                            b Meдіа CDN
                            .scrollWrap.space-inp
                                - var i = 0
                                    - if (!isNew)
                                        - for (var l = exhibit.mediaCDN.length; i < l; i++)
                                            .form-inline
                                                input.form-control(type='text', name='mediaCDN['+i+'][link]', value=exhibit.mediaCDN[i].link)
                                                select.form-control(name='mediaCDN['+i+'][type]')
                                                    option(selected=exhibit.mediaCDN[i].type==='Зображення') Зображення
                                                    option(selected=exhibit.mediaCDN[i].type==='Відео') Відео
                                                    option(selected=exhibit.mediaCDN[i].type==='Документ') Документ
                                                textarea.form-control(rows=1, name='mediaCDN['+i+'][description]')= exhibit.mediaCDN[i].description
                                                button#deleteMedia.btn.btn-danger
                                                    span.glyphicon.glyphicon-remove-sign
                                    .form-inline
                                        input.form-control#media(type='text', data-md=i, placeholder="Посилання")
                                        select.form-control
                                            option Зображення
                                            option Відео
                                            option Документ
                                        textarea.form-control(rows=1, data-md=i, placeholder="Описання")
                                        button.btn.btn-danger.hidden#deleteMedia
                                            spang.glyphicon.glyphicon-remove-sign
                    .form-group
                        label(for='images') Зображення:
                        input#localImgId(type="file", name='images', accept="image/jpg, image/jpeg, image/png", multiple)
                        #localImg.scrollWrap
                    - if (!isNew)
                        .form-inline.scrollWrap
                            - for (var j = 0, imgs = exhibit.images, li = imgs.length; j < li; j++)
                                - var path = imgs[j].relativepath
                                    .wrap-images-server
                                        - for (var i = 0, l = transformSize.length; i < l; i++)
                                            figure.imgages-des
                                                p
                                                    a(href=path + '_' + transformSize[i].pre + '.jpg', target="_blank")
                                                        img(src=(path + '_' + transformSize[i].pre + '.jpg'))
                                                figcaption Префікс #{transformSize[i].pre}
                                                | Розмір #{transformSize[i].size}
                                        textarea.form-control(placeholder="Описання", name='descripImgSaved['+path.match(/\w+(?=$)/)[0]+']') #{imgs[j].description}
                                        label
                                            input(type='checkbox', name='deleteImg['+path.match(/\w+(?=$)/)[0]+']')
                                            |  Видалити
                    .form-group
                        label(for='images') Документи:
                        input#localDocId(type="file", name='docs', accept="application/pdf, application/msword, " +
                            "application/vnd.openxmlformats-officedocument.wordprocessingml.document", multiple)
                        #localDoc.scrollWrap
                    - if (!isNew)
                        .form-inline.scrollWrap
                            - for (var i = 0, docs = exhibit.docs, l = docs.length; i < l; i++)
                                - var path = docs[i].relativepath
                                    .wrap-docs-server
                                        p #{docs[i].originalname}
                                        textarea.form-control(placeholder="Описання", name='descripDocSaved['+path.match(/\w*\.?\w+(?=$)/)[0]+']') #{docs[i].description}
                                        label
                                            input(type='checkbox', name='deleteDoc['+path.match(/\w*\.?\w+(?=$)/)[0]+']')
                                            |  Видалити
                    .form-group
                        label(for='body') Короткий опис:
                        textarea.form-control(name='bodyShort', rows='5') #{exhibit.bodyShort}
                    .form-group
                        label(for='body') Опис:
                        textarea.form-control.description(wrap='virtual', name='body', rows='10') !{exhibit.body}
                    .form-group
                        include ../includes/imagemanager
                    .form-group
                        button.btn.btn-default.space(type='submit') Відправити
                        a(href='/admin/exhibit')
                            button.btn.btn-default(type="button") Відмінити

    script(type='text/javascript' src='/js/docLocal.js')
    script(type='text/javascript' src='/js/imageLocal.js')
    script(type='text/javascript' src='/js/uploadData.js')
    script(type='text/javascript' src='/js/tinymceConf.js')
    script(type='text/javascript' src='/js/modalWindow.js')
