extends ../layout/defoultadmin
block main
block content
    mixin linkPage (page, text, notExhibits)
        - if (!notExhibits && tag)
            a(href='/admin/tags/'+tag+'?sort='+options.sortString
            +'&limit='+options.limit
            +'&page='+page
            +((options.hidden!==undefined)?('&hidden='+options.hidden):''))
                span&attributes(attributes)= text
        - else
            a(href='/admin/exhibit'+(!notExhibits&&category?'/category/'+category.id:'')+'?sort='+options.sortString
            +'&limit='+options.limit
            +'&page='+page
            +((options.chname!==undefined)?('&chname='+options.chname):'')
            +((options.chname!==undefined&&options.chvalue!==undefined)?('&chvalue='+options.chvalue):'')
            +((options.hidden!==undefined)?('&hidden='+options.hidden):'')
            +((options.search!==undefined)?('&search='+options.search):''))
                span&attributes(attributes)= text
    .raw
        .container-fluid.col-xs-3.non-left-padding
            .left-padding.colorFont.padding-top-bottom
                include ../includes/category
        .container-fluid.col-xs-9.colorFont.padding-top-bottom

            - if (category)
                h5.delete-cat-tag
                    b Категорія:#{' '}
                    | #{category.name}
                    +linkPage(1, '', true)(class='glyphicon glyphicon-remove-circle')
            - if (tag)
                h5.delete-cat-tag
                    b Тег:#{' '}
                    | #{tag}
                    +linkPage(1, '', true)(class='glyphicon glyphicon-remove-circle')

            div
                .form-group
                    .form-inline
                        span.space Сортування
                        select.form-control.space#sortExh
                            option(value='createdAt_-1', selected=options.sort.createdAt==-1) Дата добавлення&#9650;
                            option(value='createdAt_1', selected=options.sort.createdAt==1) Дата добавлення&#9660;
                            option(value='titleIntl_1', selected=options.sort.titleIntl==1) Назва&#9650;
                            option(value='titleIntl_-1', selected=options.sort.titleIntl==-1) Назва&#9660;
                            - if (!tag)
                                option(value='dateStarted_1', selected=options.sort.dateStarted==1) Початок вик.&#9650;
                                option(value='dateStarted_-1', selected=options.sort.dateStarted==-1) Початок вик.&#9660;
                                option(value='dateFinish_1', selected=options.sort.dateFinish==1) Завершення вик.&#9650;
                                option(value='dateFinish_-1', selected=options.sort.dateFinish==-1) Завершення вик.&#9660;
                        span.space Експонати
                        select.form-control#showExh
                            option(value='v', selected=options.hidden==='false') Видимі
                            option(value='h', selected=options.hidden==='true') Приховані
                            option(value='a', selected=options.hidden===undefined) Всі
                - if (!tag)
                    .form-group
                        .form-inline
                            span.space Пошук
                            input.form-control.space#searchExh(type='text', value=options.search, placeholder="Назва експоната")
                            input.form-control.space#searchExhChname(type='text', value=options.chname, placeholder="Назва характеристики")
                            input.form-control#searchExhChvalue(type='text', value=options.chname?options.chvalue:undefined, placeholder="Значення характеристики")
                .form-group
                    - if (tag)
                        a#idButAppend(href='/admin/tags/'+tag+'?sort='+options.sortString
                        +'&limit='+options.limit
                        +((options.hidden!==undefined)?('&hidden='+options.hidden):''))
                            button.btn.btn-default.space(type="button") Застосувати
                    - else
                        a#idButAppend(href='/admin/exhibit'+(category?'/category/'+category.id:'')+'?sort='+options.sortString
                        +'&limit='+options.limit
                        +((options.chname!==undefined)?('&chname='+options.chname):'')
                        +((options.chname!==undefined&&options.chvalue!==undefined)?('&chvalue='+options.chvalue):'')
                        +((options.hidden!==undefined)?('&hidden='+options.hidden):'')
                        +((options.search!==undefined)?('&search='+options.search):''))
                            button.btn.btn-default.space(type="button") Застосувати

            hr

            - for (var i = 0; i < exhibits.length; i++)
                .list-exhibits
                    if (i)
                        hr
                    h4 #{exhibits[i].title}
                    p
                        span.glyphicon.space(class = (exhibits[i].hidden ? 'glyphicon-eye-close' : 'glyphicon-eye-open'))
                        span.glyphicon.glyphicon-hourglass #{exhibits[i].createdAt.toLocaleString()}
                    p
                        - for (var j = 0; j < exhibits[i].tags.length; j++)
                            a(href='/admin/tags/'+exhibits[i].tags[j])
                                span.glyphicon.glyphicon-tag.space #{exhibits[i].tags[j]}
                    p.fig
                        img.left-img(src=exhibits[i].img.relativepath+'_sm.jpg')
                        b Початок використання#{' '}
                        | #{exhibits[i].dateStarted}
                        br
                        b Завершення використання#{' '}
                        | #{exhibits[i].dateFinish}
                        br
                        b Категорії#{' '}
                        - for (var j = 0; j < exhibits[i].categories.length; j++)
                            a(href='/admin/exhibit/category/'+exhibits[i].categories[j]._id)
                                 span #{exhibits[i].categories[j].name+' '}
                        br
                        b Короткий опис#{' '}
                        | #{exhibits[i].bodyShort}
                    div
                        .form-group
                            a(href='/admin/exhibit/'+exhibits[i]._id+'/edit')
                                button.btn.btn-default.space Редагувати

        if (pages > 1)
            .text-center
                ul.pagination
                    - var page = options.page + 1, limit = options.limit;
                    - var pageSt = (page-5)>0?((page<(pages-4)) ? (page-4) : (pages>9 ? (pages-8) : 1)):1;
                    - var count = pageSt+8 < pages ? pageSt+9 : pages+1;
                    - if (pageSt > 1)
                        li
                            +linkPage(1)(class='glyphicon glyphicon-fast-backward')
                    - for(var i = pageSt; i < count; i++)
                        - if(i==page)
                            li.active
                                a(href='#') #{i}
                        - else
                            li
                                +linkPage(i, i)
                    - if (pageSt < pages - 8)
                        li
                            +linkPage(pages)(class='glyphicon glyphicon-fast-forward')

    script(type='text/javascript', src='/js/listExhibits.js')