extends ../layout/defoultadmin
block main

block content
    .raw
        form(role='form', action='/admin/message?_method=DELETE', method="post")
            .container-fluid.col-xs-3.non-left-padding
                .left-padding.colorFont.padding-top-bottom
                    .form-group
                        .form-inline
                            span.space Сортування
                            select.form-control#sortMsg
                                option(value='createdAt_-1', selected=options.sort.createdAt==-1) Нові з початку
                                option(value='createdAt_1', selected=options.sort.createdAt==1) Нові в кінці
                    .form-group
                        .form-inline
                            span.space Критерії
                            select.form-control#crtMsg
                                option(value='all', selected=options.criteria===undefined) Всі
                                option(value='viewTrue', selected=options.criteria.view===true) Тільки переглянуті
                                option(value='viewFalse', selected=options.criteria.view===false) Тільки непереглянуті
                    .form-group
                        .form-inline
                            span.space Кількість
                            select.form-control#limitMsg
                                - for (var i = 20; i <= 100; i += 20)
                                      option(value=i, selected=options.limit==i) #{i}

                    .form-group
                        a#idButAppendSort(href='/admin/message?sort='+options.sortString
                            +'&limit='+options.limit
                            +(options.criteria.view!==undefined?'&view='+options.criteria.view:''))
                            button.btn.btn-default.space(type="button") Застосувати

                    .form-group
                        .form-inline
                            button.btn.btn-danger.space(type='submit') Видалити
                            input.hidden#delViewed(name='view', value='false')
                            select.form-control#viewed
                                option(value='s', selected=true) Поміченні
                                option(value='v') Переглянуті


            .container-fluid.col-xs-9.colorFont.padding-top-bottom
                .block
                    - if (!msg.length)
                        h5 Повідомлення за даним критерієм відсутні
                    - for(var i = 0, l = msg.length; i < l; i++)
                        - if (i)
                            hr
                        .message
                            label
                                input(type='checkbox', name='del['+msg[i]._id+']')
                            - if (!msg[i].status)
                                span.label.label-danger.space Помилка
                            - else
                                span.label.label-info.space Інформація
                            span.glyphicon.space(class = (msg[i].view ? 'glyphicon-eye-open' : 'glyphicon-eye-close'))
                            span.glyphicon.glyphicon-tag.space #{msg[i].section}
                            span.glyphicon.glyphicon-hourglass.space #{msg[i].createdAt.toLocaleString()}
                            span.glyphicon.glyphicon-user.space #{msg[i].user}
                            span.glyphicon.glyphicon-globe #{msg[i].url}
                            pre #{msg[i].message}
            if (pages > 1)
                .text-center
                    ul.pagination
                        - var page = options.page + 1, limit = options.limit;
                        - var pageSt = (page-5)>0?((page<(pages-4)) ? (page-4) : (pages>9 ? (pages-8) : 1)):1;
                        - var count = pageSt+8 < pages ? pageSt+9 : pages+1;
                        - if (pageSt > 1)
                            li
                                a(href='/admin/message?sort='+options.sortString
                                    +'&limit='+options.limit
                                    +(options.criteria.view!==undefined?'&view='+options.criteria.view:''))
                                    span.glyphicon.glyphicon-fast-backward
                        - for(var i = pageSt; i < count; i++)
                            - if(i==page)
                                li.active
                                    a(href='#') #{i}
                            - else
                                li
                                    a(href='/admin/message?sort='+options.sortString
                                    +'&limit='+options.limit
                                    +'&page='+i
                                    +(options.criteria.view!==undefined?'&view='+options.criteria.view:'')) #{i}
                        - if (pageSt < pages - 8)
                            li
                                a(href='/admin/message?sort='+options.sortString
                                    +'&limit='+options.limit
                                    +'&page='+pages
                                    +(options.criteria.view!==undefined?'&view='+options.criteria.view:''))
                                    span.glyphicon.glyphicon-fast-forward

    script(type='text/javascript' src='/js/message.js')