extends ../layout/defoultadmin
block main
block content
    mixin linkPage (page, text)
        a(href='/admin/comment?sort='+options.sortString
        +'&limit='+options.limit
        +'&page='+page
        +(options.criteria.visible!==undefined?'&visible='+options.criteria.visible:''))
            span&attributes(attributes)= text
    .raw
        .container-fluid.col-xs-12
            .container-fluid.col-xs-2
            .container-fluid.col-xs-8.colorFont.padding-top-bottom
                h4 Коментарі музею
                div
                    .form-group
                        .form-inline
                            span.space Сортування
                            select.form-control.space#sortComment
                                option(value='createdAt_-1', selected=options.sort.createdAt==-1) Дата добавлення&#9650;
                                option(value='createdAt_1', selected=options.sort.createdAt==1) Дата добавлення&#9660;
                            span.space Критерії
                            select.space.form-control#crtComment
                                option(value='all', selected=options.criteria===undefined) Всі
                                option(value='visibleTrue', selected=options.criteria.visible===true) Видимі
                                option(value='visibleFalse', selected=options.criteria.visible===false) Невидимі
                            a#idButAppendSort(href='/admin/comment?sort='+options.sortString
                            +'&limit='+options.limit
                            +(options.criteria.visible!==undefined?'&visible='+options.criteria.visible:''))
                                button.btn.btn-default(type="button") Застосувати
                - for(var i = 0, l = comments.length; i < l; i++)
                    hr
                    .comment
                        form(role='form', action='/admin/comment' + '/' + comments[i]._id + '?_method=PUT', method="post")
                            label
                                input(type='checkbox', name="visible", checked=comments[i].visible)
                                |  Показувати
                            span.glyphicon.glyphicon-user.space #{comments[i].author}
                            span.glyphicon.glyphicon-hourglass #{comments[i].createdAt.toLocaleString()}
                            textarea.form-control(rows=5, name='body') #{comments[i].body}
                            button.btn.btn-default.space(type='submit') Змінити
                        form(role='form', action='/admin/comment' + '/' + comments[i]._id + '?_method=DELETE', method="post")
                            button.btn.btn-danger(type='submit') Видалити
            .container-fluid.col-xs-2
        if (pages > 1)
            .text-center
                ul.pagination
                    - var page = options.page + 1, limit = options.limit;
                    - var pageSt = (page-5)>0?((page<(pages-4)) ? (page-4) : (pages>9 ? (pages-8) : 1)):1;
                    - var count = pageSt+8 < pages ? pageSt+9 : pages+1;
                    - if (pageSt > 1)
                        li
                            +linkPage(1)(class='glyphicon glyphicon-fast-backward')
                    - for(var i = pageSt; i < count; i++)
                        - if(i==page)
                            li.active
                                a(href='#') #{i}
                        - else
                            li
                                +linkPage(i, i)
                    - if (pageSt < pages - 8)
                        li
                            +linkPage(pages)(class='glyphicon glyphicon-fast-forward')
    script(type='text/javascript' src='/js/comment.js')