include ../includes/head
block content
    .container
        .center
            form.form-horizontal(method='post', autofocus)
                .pre
                    - if (error.length)
                        pre.error= error
                    - if (success.length)
                        pre.success= success
                .form-group
                    label.col-sm-2.control-label(for='email')
                    input.form-control(type='email', placeholder='Email', name='email', autofocus=true)
                .form-group
                    .center-btn
                        button.btn.btn-default.space(type='submit') Відновити
                        a.show-signup(href='/admin/login')
                            button.btn.btn-default(type="button") Увійти