include ../includes/head
block content
    .container
        .center
            form.form-horizontal(action='/admin/session', method='post')
                - if (error.length)
                    pre.error= error
                .form-group
                    label.col-sm-2.control-label(for='adminname')
                    input.form-control(type='text', placeholder='Ім\'я', name='adminname', required=true)
                .form-group
                    label.col-sm-2.control-label(for='password')
                    input.form-control(type='password', placeholder='Пароль', name='password', required=true)
                .form-group
                    .center-btn
                        button.btn.btn-default.space(type='submit') Увійти
                        a.show-signup(href='/admin/forgot')
                            button.btn.btn-default(type="button") Відновити пароль!
