extends ../layout/defoultadmin
block content
    .raw.profile
        .container-fluid.col-xs-4.non-left-padding
            .left-padding.colorFont.padding-top-bottom
                h3 Системна інформація
                p
                    b Ім'я хоста:&nbsp;
                    | #{os.hostname}
                p
                    b Ім'я адміністратора:&nbsp;
                    | #{admin.adminname}
                p
                    b Тип операційної системи:&nbsp;
                    | #{os.type}
                p
                    b Реліз:&nbsp;
                    | #{os.release}
                p
                    b Процесор:&nbsp;
                    | #{os.cpus[0].model}
                p
                    b Ядер:&nbsp;
                    | #{os.cpus.length}
                p
                    b Вільно оперативної пам'яті:&nbsp;
                    | #{os.freemem}
                p
                    b Всього оперативної пам'яті:&nbsp;
                    | #{os.totalmem}
        .container-fluid.col-xs-4.non-left-padding
            .left-padding.colorFont.padding-top-bottom
                h3 Інформація про базу даних
                p
                    b База даних:&nbsp;
                    | MongoDB
                p
                    b Версія:&nbsp;
                    | #{db.version}
                p
                    b Максимальний розмір документу:&nbsp;
                    | #{db.maxSize}
                p
                    b Кількість колекцій:&nbsp;
                    | #{db.collect}
                p
                    b Середній розмір документу:&nbsp;
                    | #{db.avgObjSize}
                p
                    b Розмір даних:&nbsp;
                    | #{db.dataSize}
                p
                    b Розмір індексів:&nbsp;
                    | #{db.indexSize}
                p
                    b Кількість індексів:&nbsp;
                    | #{db.indexes}
        .container-fluid.col-xs-4.colorFont.padding-top-bottom#inform
            h3 Інформація про налаштування
            p
                b Порт:&nbsp;
                | #{config.port}
            p
                b База даних:&nbsp;
                | #{config.mongoose.uri}
            p
                b Типи зоб. до екс.:&nbsp;
                | #{config.upload.img.supportMimeTypes.join(', ')}
            p
                b Ліміт глобальних зображеннь:&nbsp;
                | #{config.glImgUpload.limits.fileSize}
            p
                b Розширення глобальних зоб.:&nbsp;
                | #{config.upload.img.formatTransform}
            p
                b Стиснення глобальних зоб.:&nbsp;
                | #{config.upload.img.quality}
            p
                b Типи глобальних зоб.:&nbsp;
                | #{config.glImgUpload.supportMimeTypes.join(', ')}
            p
                b Тимчасова папка:&nbsp;
                | #{config.glImgUpload.temporaryFolder}
            p
                b Папка глобальних зображень:&nbsp;
                | #{config.globalImageRoot}
            p
                b Ліміт на зоб. до категорій:&nbsp;
                | #{config.categoryImg.limits.fileSize}
            p
                b Типи зоб. до категорій.:&nbsp;
                | #{config.categoryImg.supportMimeTypes.join(', ')}
            p
                b Розширення зоб. категорій:&nbsp;
                | #{config.categoryImg.formatTransform}
            p
                b Стиснення зображення категорій:&nbsp;
                | #{config.categoryImg.quality}
            p
                b Збереження орг. зоб. для категорій:&nbsp;
                | #{config.categoryImg.saveOrgImg ? 'Так' : 'Ні'}
            p
                b Максимальна кількість тегів:&nbsp;
                | #{config.tags.maxCount}