extends ../layout/defoultadmin
block content
    .raw.profile
        .container-fluid.col-xs-6.non-left-padding(class=isRoot?'':'col-sm-offset-3')
            .left-padding.colorFont.padding-top-bottom
                .font
                    h4 Ім'я: #{admin.adminname}
                    h4 Імейл: #{admin.email?admin.email:'-'}
                form(action=url+'?_method=PUT', method='post')
                    - if (error.length)
                        pre.error= error
                    - if (success.length)
                        pre.success= success
                    .form-group
                        input.form-control(type='email', placeholder='Новий Email', name='email')
                    .form-group
                        input.form-control(type='password', placeholder='Новий пароль', name='password')
                    .form-group
                        input.form-control(type='password', placeholder='Повторіть новий пароль', name='confirm')
                    .form-group
                        input.form-control(type='password', placeholder='Поточний пароль', name='passwordOld')
                    .form-group
                        button.btn.btn-primary(type='submit') Змінити
        - if (isRoot)
            .container-fluid.col-xs-6.colorFont.padding-top-bottom
                h4 Додати адміністратора
                    form(method='post')
                        .form-group
                            label.col-sm-2.control-label(for='email')
                            input.form-control(type='text', placeholder="І'мя", name='adminname')
                        .form-group
                            label.col-sm-2.control-label(for='password')
                            input.form-control(type='password', placeholder='Пароль', name='password')
                        .form-group
                            button.btn.btn-primary(type='submit') Додати
                hr.bold
                h4 Список адміністраторів
                - for (var i = 0, l = admins.length; i < l; i++)
                    form.form-horizontal(action=url+'/'+admins[i]._id+'?_method=DELETE', method='post')
                        hr
                        p.margin-top
                            b Ім'я #{' '}
                            | #{admins[i].adminname + '  '}
                            b Імейл #{' '}
                            | #{admins[i].email + '  '}
                            button.btn.btn-danger.btn-xs(type='submit') Видалити