include ../includes/head
block content
    .container
        .center
            form.form-horizontal(method='post')
                .form-group
                    label.col-sm-2.control-label(for='email')
                    input.form-control(type='password', placeholder='Новий пароль', name='password', autofocus=true)
                .form-group
                    .center-btn
                        button.btn.btn-default.space(type='submit') Змінити
                        a.show-signup(href='/admin/login')
                            button.btn.btn-default(type="button") Увійти
