mixin buttonManagement (par, root, isMuseum, id)
    abbr(title="Розгорнути або згорнути")
        a(href = '#', hidden = !par)
            span.showCat.glyphicon.glyphicon-chevron-down
    - if (!arrayCats.isShow)
        abbr(title="Створити нову категорію")
            a(href = '#')
                span.addCat.glyphicon.glyphicon-plus
        abbr(title="Редагувати категорію")
            a(href = '#', hidden = root)
                span.ranCat.glyphicon.glyphicon-pencil
        abbr(title="Видалити категорію")
            a(href = '#', hidden = root || par)
                span.delCat.glyphicon.glyphicon-remove
    abbr(title="Додати інформацію про музей")
        a(href = '/admin/museum/'+id+'?_method=PUT', hidden=!isMuseum)
            span.info.glyphicon.glyphicon-info-sign

mixin buildTree(cats, parentId)
    ul
        - each cat in cats[parentId]
            - var parent = typeof cats[cat._id] === 'object'
            li
                - if (arrayCats.isShow)
                    a(href='/admin/exhibit/category/'+cat._id)
                        span #{cat.name}
                - else
                    span(id = '_' + cat._id, data-img = cat.path) #{cat.name}
                +buttonManagement(parent, false, (parentId == '0'), cat._id)
                - if (parent)
                    +buildTree(cats, cat._id)

- var full = typeof arrayCats[0] !== 'undefined'

#category
    span(id = '_0') Категорії
    +buttonManagement(full, true, false)
    - if (full)
        +buildTree(arrayCats, '0')
script(type='text/javascript').
    window.CATEGORYNEED = "#{arrayCats.isShow ? '' : 'full'}";
- if (!arrayCats.isShow)
    script(type='text/javascript' src='/js/dragAndDrop.js')
script(type='text/javascript' src='/js/category.js')


