head
   title= title
   meta(name='viewport', content='width=device-width, initial-scale=1.0')
   link(href='/vendor/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet', media='screen')
   link(rel='stylesheet', href='/css/app.css')
   script(src='/vendor/bower_components/tinymce/tinymce.min.js')

