body
    nav.navbar-default.navbar-inverse
        .container-fluid
            .navbar-header
                a.navbar-brand(href="/") Museum
            ul.nav.navbar-nav
                li(class= title == 'Моніторинг' ? 'active' : '')
                    a(href='/admin/monitoring')
                        span.glyphicon.glyphicon-home  Моніторинг
                li(class= title == 'Список експонатів' ? 'active' : '')
                    a(href='/admin/exhibit')
                        span.glyphicon.glyphicon-th-list  Список експонатів
                li(class= title == 'Новий експонат' ? 'active' : '')
                    a(href='/admin/exhibit/new')
                        span.glyphicon.glyphicon-new-window  Новий експонат
                li(class= title == 'Профіль' ? 'active' : '')
                    a(href='/admin/profile/'+admin._id)
                        span.glyphicon.glyphicon-user  Профіль
                li(class= title == 'Повідомлення' ? 'active' : '')
                    a(href='/admin/message?limit=20')
                        span.glyphicon.glyphicon-envelope  Повідомлення
                        span.badge #{countMsg}
                li(class= title == 'Коментарі' ? 'active' : '')
                    a(href='/admin/comment')
                        span.glyphicon.glyphicon-comment  Коментарі
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/admin/logout")
                        span.glyphicon.glyphicon-log-out  Вийти