hr
.form-group.globalImg.list.col-xs-12
    input#globalImgId(type="file", accept="image/gif, image/jpg, image/jpeg, image/png")
    .list.col-xs-12
        abbr(title="Завантажити зображення")
            button.btn.btn-default#uploadImg
                span.glyphicon.glyphicon-upload
        abbr(title="Створити нову папку")
            button.btn.btn-default#createDir
                span.glyphicon.glyphicon-folder-close
        abbr(title="Обновити список")
            button.btn.btn-default#refreshList
                span.glyphicon.glyphicon-refresh
        abbr(title="Переіменувати")
            button.btn.btn-default#renameElement
                span.glyphicon.glyphicon-font
        abbr(title="Перемістити")
            button.btn.btn-default#moveElement
                span.glyphicon.glyphicon-random
        abbr(title="Видалити")
            button.btn.btn-default#deleteElement
                span.glyphicon.glyphicon-trash
        .alert.alert-success#alertSuccess(role='alert', hidden=true)
        .alert.alert-danger#alertDanger(role='alert', hidden=true)
        ol.breadcrumb#path
            li.active Корінь
        .list.col-xs-9
            table.table.table-striped.header-fixed#tableElem
                    thead
                        tr
                            th.col-xs-1 #
                            th.col-xs-1#typeGlImg Тип
                            th.col-xs-5#nameGlImg Імя
                            th.col-xs-2#sizeGlImg Розмір
                            th.col-xs-3#dateGlImg Дата зміни
                    tbody#bodyTable
                        - for(var i = 1, l = imageManager.list.length; i <= l; i++)
                            tr
                                th.col-xs-1 #{i}
                                td.col-xs-1
                                    - if (imageManager.list[i-1].isFile === true)
                                        span.glyphicon.glyphicon-picture.img
                                    - else
                                        span.glyphicon.glyphicon-folder-close.dir
                                td.col-xs-5.title #{imageManager.list[i - 1].name}
                                td.col-xs-2
                                    - if (imageManager.list[i-1].isFile === false)
                                        span -
                                    - else
                                        span #{imageManager.list[i - 1].size}
                                td.col-xs-3 #{imageManager.list[i-1].mtime}

        .preview.col-xs-3
            .title
                span Попередній перегляд
            .photo
                div#url(hidden=true)
                img#image(src="", width="189", alt="", hidden=true)
script var GLOBAL_PATH_IMAGES = '!{imageManager.path}'
script(type='text/javascript' src='/js/imageManager.js')