extends ../layout/defoultadmin
block main
block content
    .raw
        .container-fluid.col-xs-3.non-left-padding
            .left-padding.colorFont.padding-top-bottom
                include ../includes/category
        .container-fluid.col-xs-9.colorFont.padding-top-bottom
            - if (error.length)
                pre.error= error
            - if (success.length)
                pre.success= success
            .delete-exhibit-wrap
                .delete-exhibit
                    form#destroyForm(role='form', action='/admin/museum' + '/' + catId + '?_method=DELETE', method="post")
                        button.btn.btn-danger#destroy(type='submit') Видалити інформацію
            .block
                form(role='form', method="post")
                    .form-group
                        label(for='name') Назва музею:
                        input.form-control(type='text', name='name', placeholder="Назва", required=true, value=museum && museum.name)
                    .checkbox
                    label
                        input(type='checkbox', name="hidden", checked=museum && museum.hidden)
                        |  Сховати
                    h4 Контакти
                    .form-group
                        label(for='index') Індекс:
                        input.form-control(type='number', name='index', placeholder="Індекс", value=museum && museum.contact.index)
                    .form-group
                        label(for='address') Адрес:
                        input.form-control(type='text', name='address', placeholder="Адрес", value=museum && museum.contact.address)
                    .form-group
                        label(for='phone') Телефони:
                        input.form-control(type='text', name='phone', placeholder="Телефони повинні бути розділені комами", value=museum && museum.contact.phone.join(', '))
                    .form-group
                        label(for='email') Електронні адреси:
                        input.form-control(type='text', name='email', placeholder="Електронні адреси повинні бути розділені комами", value=museum && museum.contact.email.join(', '))

                    h4 Про музей
                    .form-group
                        label(for='body') Опис:
                        textarea.form-control.description#informationMuseum(wrap='virtual', name='body', rows='10') !{museum && museum.body}
                    .form-group
                        include ../includes/imagemanager
                    .form-group
                        button.btn.btn-default.space#sendData(type='submit') Відправити
                        a(href='/admin/museum')
                            button.btn.btn-default(type="button") Відмінити

    script(type='text/javascript' src='/js/tinymceConf.js')
    script(type='text/javascript' src='/js/modalWindow.js')
    script(type='text/javascript' src='/js/museum.js')
